<!DOCTYPE html>
{% include 'sidebar.html' %}

<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
     integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="crossorigin=""/>
     <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="crossorigin=""></script>
    <style>
    #mapid { height: 350px; }
    </style>
      <style>
    #chart-wrapper1 {
            display: inline-block;
            position: relative;
            width: 600px;

    }
     #chart-wrapper2 {
            display: inline-block;
            position: relative;
            width: 600px;

    }
    #chart-wrapper3 {
            display: inline-block;
            position: relative;
            width: 600px;
            }
    </style>

</head>

<body>
{% block content %}
<div style="position:absolute; top: 54px; left: 96px;">
<h1>Commodity background data</h1>
<div id="big"style="display:flex">
<div id="chart1">
    <div style=" font-weight: bold;font-size: 1.2em; color: rgb(50, 193, 217); margin-top:10px">the number of exports by different countries</div>
<div id="chart-wrapper1" style="margin-left:100px;">
         <canvas id="myChart"></canvas>

            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
            <script type= 'text/javascript'>
            var ctx = document.getElementById('myChart').getContext('2d');
            var chart = new Chart(ctx, {
            // The type of chart we want to create
            type: 'line',

            // The data for our dataset
            data: {
                labels: ['USA', 'Canada', 'Mexico', 'other',],
                datasets: [{
                    label: 'quantity of commodity',
                    backgroundColor: 'rgb(139, 233, 222)',
                    borderColor: 'rgb(139, 233, 222)',
                    data: [{{USA}}, {{Canada}}, {{Mexico}}, {{other}}]
                }]
            },

            // Configuration options go here
            options: {
                responsive: true
            }
            });
            {{story}}
            </script>
</div>
</div>
<div id="chart2">
    <div  style=" font-weight: bold;font-size: 1.2em; color: rgb(50, 193, 217); margin-top:10px">Number of bad reviews for each brand</div>
<div id="chart-wrapper2"style="margin-left:100px;">
         <canvas id="myChart2"></canvas>

            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
            <script type= 'text/javascript'>
            var ctx2 = document.getElementById('myChart2').getContext('2d');
            var chart2 = new Chart(ctx2, {
            // The type of chart we want to create
            type: 'bar',

            // The data for our dataset
            data: {
                labels: ['Carrington', 'Golden', 'Imagin', 'Big_time','PigTail'],
                datasets: [{
                    label: 'sales country',
                    backgroundColor: 'rgb(139, 181, 222)',
                    borderColor: 'rgb(139, 181, 222)',
                    data: [{{Carrington_nagative}}, {{Golden_nagative}}, {{Imagin_nagative}}, {{Big_time_nagative}},{{PigTail_nagative}}]
                }]
            },

            // Configuration options go here
            options: {
                responsive: true
            }
            });
            {{story}}
            </script>
</div>
</div>
</div>
<div id="chart-wrapper3"style="margin-left:100px;">
     <div  style=" font-weight: bold;font-size: 1.2em; color: rgb(50, 193, 217); margin-top:10px">Commodity sales volume of each supplier</div>
         <canvas id="myChart3"></canvas>

            <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0"></script>
          <script type= 'text/javascript'>
  var ctx3 = document.getElementById('myChart3').getContext('2d');
  var chart3 = new Chart(ctx3, {
      // The type of chart we want to create
      type: 'bar',

      // The data for our dataset
      data: {
          labels: ['Kanyon', 'Forum_Istanbul', 'Metrocity', 'Metropol_AVM', 'Mall_of_Istanbul'],
          datasets: [{
              label: 'sales country',
              backgroundColor: 'rgb(243, 163, 172)',
              borderColor: 'rgb(243, 162, 172)',
              data: [{{Kanyon}}, {{Forum_Istanbul}}, {{Metrocity}}, {{Metropol_AVM}}, {{Mall_of_Istanbul}}]
          }]
      },

      // Configuration options go here
      options: {
          responsive: true
      }
  });
  {{story}}
</script>

</div>
</div>
{% endblock %}
</body>

</html>