 {% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="{% static 'css/home.css' %}">
  <title>Document</title>
</head>
<body>
  <div class="header">
    <nav>
      <img src="./img/logo.png" alt="">
      {% if user.is_authenticated %}
    <p>welcome，{{ user.username }}！ <a href="{% url 'logout' %}">log out</a></p>
{% else %}
    <p><a href="{% url 'login' %}">login</a> 或 <a href="{% url 'register' %}">register</a></p>
{% endif %}

    </nav>
    <div class="text-box">
      <h1>Let everyone enjoy the joy of shopping</h1>
      <p>When the elegant persistence of products meets the youthful vitality of young people, every color and gesture of every flower is a tribute to romance and vitality under the pen of designers. </p>
      <a href="{% url 'project_list' %}">Shop Now</a>
    </div>
    <div class="user-box">
      <img src="./img/user.png" alt="">
    </div>
  </div>
</body>
</html>