<!--<!DOCTYPE html>-->
<!-- <html><head>-->
<!--    <title>Individual Polar Bear Tracking</title>-->
<!--    </head><body>-->
<!--        <h1>Polar Bear Tagged for Tracking</h1>-->
<!--        {%for sightdetail in sightdetails%}-->
<!--        <p>Bear:-->
<!--            <b>{{sightdetail.product_id }}</b> |-->
<!--    {{sightdetail.promotion_name }}-->
<!--            {{sightdetail.sales_country }}-->
<!--            {{sightdetail.sales_volume }}-->
<!--            {{sightdetail.negative_comment }}-->
<!--            {{sightdetail.price }}-->
<!--              {{sightdetail.invoice_date }}-->
<!--              {{sightdetail.supplier }}-->
<!--              {{sightdetail.brand_name }}-->


<!--        </p>-->
<!--        {% endfor %}-->
<!--        <p>Sightings via Radio Device</p>-->
<!--    </body></html>-->

<!DOCTYPE html>
{% load static %}
{% include 'sidebar.html' %}
<html lang="zh-CN">
  <head>
       <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
   integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
   crossorigin=""/>
   <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
   integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
   crossorigin=""></script>
   <style>
     #mapid {
     height: 394px;
      width: 62%;
      margin-left:13%;
      }
   </style>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>HTML+CSS 玻璃划过</title>

      <link rel="stylesheet" href="{% static 'css/detail.css' %}">
  </head>
  <body>
   {% block content %}

  <div id="big" style="position:absolute; top: 54px; left: 96px;">
  <div id="mapid"></div>


      <script type = "text/javascript">
      {% for longitude_latitude in longitude_latitude_list %}
        var mymap = L.map('mapid').setView([{{longitude_latitude.longitude}}, {{longitude_latitude.latitude}}], 6 );
      {% endfor %}
          accessToken: 'no-token',
        L.tileLayer('https://tile.openstreetmap.org/{z}/{x}/{y}.png', {
       attribution: 'Map data &copy; <a href="https://www.openstreetmap.org/">OpenStreetMap</a> contributors, <a href="https://creativecommons.org/licenses/by-sa/2.0/">CC-BY-SA</a>',
       maxZoom: 18,
   }).addTo(mymap);
   var taggingIcon = L.icon({
     iconUrl: "{% static 'images/placeholder-yellow.png' %} ",
     iconSize: [35, 35] });
     var marker = L.marker([{{ bear.capture_lat }}, {{bear.capture_long }}], {icon: taggingIcon }).addTo(mymap);
   </script>

 {%for sightdetail in sightdetails%}
  <div class="div1">
    <div class="box">
      <h1>Product ID </h1>
<div style="font-size: 3.5em; font-weight: bold; margin-top:50px;margin-left:36px">{{sightdetail.product_id }}</div>
    </div>
      <div class="box">
      <h1>Promotion Name</h1>
        <div>{{sightdetail.promotion_name }}</div>
    </div>
      <div class="box">
      <h1>Sales Country</h1>
        <div> {{sightdetail.sales_country }}</div>
    </div>

</div>
  <div class="div2">
  <div class="box">
      <h1>Sales Volume</h1>
    <div style="font-size: 3.5em; font-weight: bold; margin-top:50px;margin-left:36px " >{{sightdetail.sales_volume }}</div>
    </div>
    <div class="box">
          <h1>Negative </h1>
      <div style="font-size: 3.5em; font-weight: bold; margin-top:50px;margin-left:36px ">   {{sightdetail.negative_comment }}</div>
    </div>
    <div class="box">
      <h1>Price</h1>
      <div style="font-size: 3.5em; font-weight: bold; margin-top:50px;margin-left:36px ">  {{sightdetail.price }}</div>
    </div>
  </div>
  <div class="div2">
  <div class="box">
      <h1>Invoice Date</h1>
    <div style="font-size: 3.5em; font-weight: bold; margin-top:50px;margin-left:36px ">  {{sightdetail.invoice_date }}</div>
    </div>
    <div class="box">
      <h1>Supplier</h1>
      <div style="font-size: 3.5em; font-weight: bold; margin-top:50px;margin-left:36px "> {{sightdetail.supplier }}</div>
    </div>
    <div class="box">
      <h1>Brand Name</h1>
      <div style="font-size: 3.0em; font-weight: bold; margin-top:50px;margin-left:36px ">  {{sightdetail.brand_name }}</div>
    </div>
  </div>
   {% endfor %}

   <div class="footer-space"></div>
      </div>
  {% endblock %}

  </body>
</html>
