<!DOCTYPE html>
<html>
<head>
    <title>Polar Bear Tracking</title>
</head>
<body>
    <h1>Polar bears Tagged for Tracking</h1>
    <form method="GET" action="{% url 'project_list' %}">
    <input type="text" name="keyword" placeholder="请输入关键字" value="{{ keyword }}">
    <button type="submit">搜索</button>
</form>

    <table>
        <thead>
            <tr>
                <th>Product ID</th>
                <th>Price</th>
                <th>Promotion Name</th>
                <th>Sales Country</th>
            </tr>
        </thead>
        <tbody>
            {% for table in list %}
            <tr>
                <td><a href="{% url 'shopping_detail' detail_id=table.product_id|stringformat:'s' %}">{{ table.product_id }}</a></td>
                <td>{{ table.price }}</td>
                <td>{{ table.promotion_name }}</td>
                <td>{{ table.sales_country }}</td>
            </tr>
            {% empty %}
            <tr>
                <td colspan="4">No results found.</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>
